<div class="container">

  <div class="text-center">
    <h3 class="titulos">Información de la tesis</h3>
  </div>


  <form [formGroup]="formularioTesis" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="mb-1">
      <mat-form-field class="w-100">
        <mat-label class="estilos">Nombre de la tesis</mat-label>
        <input matInput formControlName="nombre" />
      </mat-form-field>
    </div>

    <div class="mb-1">
      <mat-form-field class="w-100">
        <mat-label class="estilos">Descripción</mat-label>
        <textarea matInput placeholder="Agregue una breve descripción sobre su tesis" formControlName="descripcion" ></textarea>
      </mat-form-field>

    </div>

    <div class="mb-1">
      <mat-form-field class="w-100">
        <mat-label class="estilos">Código carnet segundo estudiante (opcional)</mat-label>
        <input matInput formControlName="carnet2" type="number" />
      </mat-form-field>
    </div>

    <div class="mb-1">
      <input type="file" class="form-control estilos" id="archivo" name="archivo" formControlName="archivo" (change)="onFileSelected($event)">
    </div>

    <div class="text-center mt-4">
      <button mat-raised-button class="full-width estilos"
      style="background-color: #d20000;color: white;" >Enviar</button>
    </div>
  </form>
</div>
