/*Bold*/

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Orbitron&family=Titillium+Web:wght@700&display=swap');


/*Semibold*/

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Orbitron&family=Titillium+Web:wght@600&display=swap');

/*Regular*/

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Orbitron&family=Titillium+Web:wght@400;600&display=swap');


.top {
  background-color: #D20000;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  height: 60px;
  box-shadow: 0px 0px 10px 0px rgba(233, 38, 38, 0.75);
}

