<app-top></app-top>

<div class="login-container">
  <h1 class="welcome-text" style="font-family: 'Kanit', sans-serif;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Titillium Web', sans-serif;">Bienvenido</h1>
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label class="estilos">Usuario</mat-label>
      <input matInput formControlName="usuario" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label class="estilos">Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <button mat-raised-button class="full-width estilos"
      style="background-color: #d20000;color: white;">Ingresar</button>
  </form>

  <a routerLink="registrarse" class="item-menu" style="color: #d20000; text-decoration: none;"><span>¿No tienes cuenta?
      Regístrate</span></a>

</div>
