<!-- evaluar.component.html -->
<div class="spinner-container" *ngIf="cargando; else contenidoCargado">
  <mat-progress-spinner mode="indeterminate" diameter="50" color="warn"></mat-progress-spinner>
</div>

<ng-template #contenidoCargado>
  <div class="detalles">
    <ng-container *ngIf="tesis; else mensajeNoDetalles">
      <div class="mat-card detalles-container">
        <div class="titulo">
          <h2 class="text-center">Detalles</h2>
        </div>

        <div class="detalle">
          <div class="item-detalle">
            <h3>Nombre tesis</h3>
            <p>{{ tesis.nombre }}</p>
          </div>

          <mat-divider></mat-divider>
          <div class="item-detalle">
            <h3>Descripción</h3>
            <p>{{ tesis.descripcion }}</p>
          </div>

          <mat-divider></mat-divider>

          <div class="item-detalle">
            <div class="row">
              <div class="col">
                <h3>Ponentes</h3>
                <p class="item-ponente" *ngFor="let estudiante of tesisEstudiantes">{{ estudiante.usuarioDTOEstudiante.nombreCompleto }}</p>
              </div>
              <div class="col">
                <h3>Celular</h3>
                <p class="item-ponente" *ngFor="let estudiante of tesisEstudiantes">{{ estudiante.usuarioDTOEstudiante.numeroCelular }}</p>
              </div>
              <div class="col">
                <h3>Correo</h3>
                <p class="item-ponente" *ngFor="let estudiante of tesisEstudiantes">{{ estudiante.usuarioDTOEstudiante.correo }}</p>
              </div>
            </div>
          </div>
        </div>

        <mat-accordion *ngIf="tesis">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Estado tesis:</p>
              </mat-panel-title>
              <mat-panel-description>
                {{ tesis.calificada }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="calificada">
              <!-- Mostrar formulario solo si no hay evaluación existente -->
              <form *ngIf="!evaluacionExistente" [formGroup]="tesisForm">
                <div class="calificacion-container">
                  <h3>Calificación</h3>
                  <mat-form-field id="calificacion-input">
                    <input matInput formControlName="calificacion" type="number">
                  </mat-form-field>
                </div>

                <mat-divider></mat-divider>

                <div class="observaciones-container">
                  <h3>Observaciones</h3>
                  <mat-form-field class="full-width">
                    <textarea matInput formControlName="observaciones"></textarea>
                  </mat-form-field>
                </div>

                <div class="observaciones-container">
                  <h3>Seleccione un archivo de soporte</h3>
                </div>

                <div class="mb-1">
                  <input type="file" class="form-control estilos" id="archivo" name="archivo" formControlName="archivo" (change)="onFileSelected($event)">
                </div>

                <button mat-raised-button color="accent" (click)="guardarCalificacion()">Guardar Calificación</button>
              </form>
              <!-- Mostrar botones solo si hay evaluación existente -->
              <ng-container *ngIf="evaluacionExistente">
                <div class="calificada">
                  <h3>Calificación</h3>
                  <p>{{ tesis.calificacion }}</p>
                  <mat-divider></mat-divider>
                  <h3>Observaciones</h3>
                  <p>{{ tesis.observaciones }}</p>
                </div>
                <button mat-raised-button color="accent" (click)="descargarArchivoSoporte(tesis)">Descargar Archivo Soporte</button>
                <button mat-raised-button color="warn" (click)="cambiarEvaluacionExistente()">Volver a calificar</button>
              </ng-container>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <div class="mat-card-actions">
          <button mat-raised-button color="warn" (click)="descargar(tesis)">Descargar Documento Tesis</button>
          <button mat-raised-button color="primary" (click)="imprimir()">Imprimir</button>
          <button mat-raised-button color="accent" routerLink="evaluaciones">Regresar</button>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-template #mensajeNoDetalles>
    <div class="mensaje-no-tesis">
      <h4>No hay detalles disponibles</h4>
    </div>
  </ng-template>
</ng-template>
