<app-top></app-top>

<div class="container mt-4">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <!-- Sección: Información personal -->
    <div class="mb-3">
      <div class="text-center">
        <h3 class="titulos">Información personal</h3>
      </div>

      <div class="row">
        <div class="col-md-6 mb-2">
          <mat-form-field class="w-100">
            <mat-label class="estilos">Primer nombre</mat-label>
            <input matInput formControlName="nombre" />
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-2">
          <mat-form-field class="w-100">
            <mat-label class="estilos">Segundo nombre</mat-label>
            <input matInput formControlName="segundoNombre" />
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-2">
          <mat-form-field class="w-100">
            <mat-label class="estilos">Primer apellido</mat-label>
            <input matInput formControlName="apellido" />
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-2">
          <mat-form-field class="w-100">
            <mat-label class="estilos">Segundo apellido</mat-label>
            <input matInput formControlName="segundoApellido" />
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-2">
          <mat-form-field class="w-100">
            <mat-label class="estilos">Código carnet</mat-label>
            <input matInput formControlName="codigoCarnet" type="number" />
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-2">
          <mat-form-field class="w-100">
            <mat-label class="estilos">Género</mat-label>
            <mat-select class="estilos" formControlName="sexoEnum">
              <mat-option *ngFor="let sexo of keysSexo()" value="sexo">
                {{ sexo }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-2">
          <mat-form-field class="w-100">
            <mat-label class="estilos">Tipo identificación</mat-label>
            <mat-select class="estilos" formControlName="tipoIdentificacionEnum">
              <mat-option *ngFor="let tipo of keysTipoIdentificacion()" value="tipo">
                {{ tipo }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-2">
          <mat-form-field class="w-100">
            <mat-label class="estilos">Número de identificación</mat-label>
            <input matInput formControlName="numeroIdenticacion" type="number" />
          </mat-form-field>
        </div>

      </div>
    </div>

    <!-- Sección: Detalles de usuario -->
    <div class="mb-3">
      <div class="text-center">
        <h3 class="titulos">Detalles de usuario</h3>
      </div>

      <div class="row">

        <div class="col-md-6 mb-2">
          <mat-form-field class="w-100">
            <mat-label class="estilos">Rol</mat-label>
            <mat-select class="estilos" formControlName="rol">
              <mat-option *ngFor="let rol of keyRol()" value="rol">
                {{ rol }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-2">
          <mat-form-field class="w-100">
            <mat-label class="estilos">Número de celular</mat-label>
            <input matInput formControlName="numeroCelular" type="number" />
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-2">
          <mat-form-field class="w-100">
            <mat-label class="estilos">Programa</mat-label>
            <mat-select class="estilos" formControlName="programaEnum">
              <mat-option *ngFor="let item of keys()" value="item">
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-2">
          <mat-form-field class="w-100">
            <mat-label class="estilos">Correo</mat-label>
            <input matInput formControlName="correo" type="email" />
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-2">
          <mat-form-field class="w-100">
            <mat-label class="estilos">Contraseña</mat-label>
            <input matInput formControlName="password" type="password" />
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-2">
          <mat-form-field class="w-100">
            <mat-label class="estilos">Confirmar contraseña</mat-label>
            <input matInput formControlName="confirmarPassword" type="password" />
          </mat-form-field>
        </div>

      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn estilos">Enviar</button>
    </div>
  </form>
</div>
