<table mat-table [dataSource]="config.datos" class="mat-elevation-z8" class="table table-hover"
  style="border-radius:  5px;">
  <ng-container *ngFor="let columna of config.columnas; let i = index" [matColumnDef]="columna">
    <th mat-header-cell *matHeaderCellDef class="text-center">{{ columna }}</th>
    <td class="text-center align-middle" mat-cell *matCellDef="let dato">

      <ng-container *ngIf="columna !== 'Acciones'; else accionesColumna">
        {{ dato[config.dato[i]] }}
      </ng-container>
      <ng-template #accionesColumna>
        <div class="button-row">
          <div *ngFor="let accionKey of getAccionesConfigKeys()">
            <button mat-raised-button
              [style.background-color]="config.clasesConfig ? config.clasesConfig[accionKey] : ''"
              [style.color]="'#ffffff'" class="w-75 my-1" (click)="ejecutarAccion(dato, accionKey)">
              {{ accionKey }}
            </button>
          </div>
        </div>
      </ng-template>
    </td>
  </ng-container>

  <!-- Definición de las filas -->
  <tr mat-header-row *matHeaderRowDef="config.columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: config.columnas;"></tr>
</table>

<mat-divider></mat-divider>
