<div class="detalles">
  <ng-container *ngIf="tesis; else mensajeNoDetalles">
    <div class="mat-card detalles-container">
      <div class="titulo">
        <h2 class="text-center">Detalles</h2>
      </div>

      <div class="detalle">
        <div class="item-detalle">
          <h3>Nombre tesis</h3>
          <p>{{ tesis.nombre }}</p>
        </div>

        <mat-divider></mat-divider>
        <div class="item-detalle">
          <h3>Descripción</h3>
          <p>{{ tesis.descripcion }}</p>
        </div>

        <mat-divider></mat-divider>
        <div class="item-detalle">
          <h3>Ponentes</h3>
          <p class="item-ponente" *ngFor="let estudiante of tesisEstudiantes">{{
            estudiante.usuarioDTOEstudiante.nombreCompleto }}</p>
        </div>
      </div>

      <mat-accordion>
        <mat-accordion>
          <ng-container *ngIf="tesis?.calificada ===CalificadaEnum; else noCalificada">
            <mat-expansion-panel [disabled]="!tesis.calificada" (opened)="panelOpenState = true"
              (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <p>Estado tesis:</p>
                </mat-panel-title>
                <mat-panel-description>
                  {{ tesis.calificada }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="calificada">
                <h3>Calificación</h3>
                <p>{{ tesis.calificacion }}</p>
                <mat-divider></mat-divider>
                <h3>Observaciones</h3>
                <p>{{ tesis.observaciones }}</p>
              </div>
            </mat-expansion-panel>
          </ng-container>
          <ng-template #noCalificada>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <p>Estado tesis:</p>
                </mat-panel-title>
                <mat-panel-description>
                  {{ tesis?.calificada }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="mensaje-no-calificada" class="mt-4">
                <h5>La tesis aún no ha sido calificada.</h5>
              </div>
            </mat-expansion-panel>
          </ng-template>
        </mat-accordion>

      </mat-accordion>



      <div class="mat-card-actions">
        <!-- Botón para descargar el documento -->
        <button mat-raised-button color="warn" (click)="descargar(tesis)">Descargar Documento</button>

        <!-- Botón para regresar -->
        <button mat-raised-button color="accent" routerLink="evaluaciones">Regresar</button>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #mensajeNoDetalles>
  <div class="mensaje-no-tesis">
    <h4>No hay detalles disponibles</h4>
  </div>
</ng-template>
